{{{header}}}
	{{{flavor-nav}}}
	<div id="flavor-page" class="{{rootRequest}}">
		<div class="ribbon {{rootRequest}}">

		</div>
		<div class="info-box">
			<div class="inner">
				<div class="text-container">
					Text! 
				</div>
				<div class="nutrition-info">
					<div class="nutrition-label"></div>
				</div>
			</div>
		</div>
		<div class="background"></div>
		<a href="#" class="place-order"></a>
	</div>
{{{footer}}}