<div class="clear"></div>
<div id="flavor-nav">
	<div class="nav-item london-kettle polaroid">
		<div class="img"></div>
		<div class="text one-line">
			London Kettle
		</div>
	</div>
	<div class="nav-item clandestine-caramel polaroid">
		<div class="img"></div>
		<div class="text two-line">
			Clandestine Caramel
		</div>
	</div>
	<div class="nav-item roman-holiday polaroid">
		<div class="img"></div>
		<div class="text one-line">
			Roman Holiday
		</div>
	</div>
	<div class="nav-item saigon-sunrise polaroid">
		<div class="img"></div>
		<div class="text one-line">
			Saigon Sunrise
		</div>
	</div>
	<div class="nav-item honalulu-aloha stamp">
		<div class="img"></div>
		<div class="text two-line">
			Honalulu Aloha
		</div>
	</div>
	<div class="nav-item southern-surprise stamp">
		<div class="img"></div>
		<div class="text two-line">
			Southern Surprise
		</div>
	</div>
	<div class="nav-item brazilian-samba stamp">
		<div class="img"></div>
		<div class="text one-line">
			Brazilian Samba
		</div>
	</div>
</div>
<div class="clear"></div>