<div class="clear"></div><div id="flavor-nav"><div class="nav-item london-kettle"><a href="/london-kettle"></a></div><div class="nav-item clandestine-caramel"><a href="/clandestine-caramel"></a></div><div class="nav-item roman-holiday"><a href="/roman-holiday"></a></div><div class="nav-item saigon-sunrise"><a href="/saigon-sunrise"></a></div><div class="nav-item brazilian-samba last"><a href="/brazilian-samba"></a></div><div class="nav-item southern-surprise"><a href="/southern-surprise"></a></div><div class="nav-item honolulu-aloha"><a href="/honolulu-aloha"></a></div></div><div class="clear"></div>