<div class="clear"></div>
<div id="flavor-nav">
	<div class="nav-item london-kettle">
		<a href="#"></a>
	</div>
	<div class="nav-item clandestine-caramel">
		<a href="#"></a>
	</div>
	<div class="nav-item roman-holiday">
		<a href="#"></a>
	</div>
	<div class="nav-item saigon-sunrise">
		<a href="#"></a>
	</div>
	<div class="nav-item honalulu-aloha">
		<a href="#"></a>
	</div>
	<div class="nav-item southern-surprise">
		<a href="#"></a>
	</div>
	<div class="nav-item brazilian-samba last">
		<a href="#"></a>
	</div>
</div>
<div class="clear"></div>