				<div id="the-footer">
					<div id="footer-inner">
						<div id="footer-menu-box">
							<ul class="large-footer-menu">
								<li>
									<a href="#">Popsalot</a>
									<ul>
										<li>
											<a href="#">About</a>
										</li>
										<li><a href="#">Press</a></li>
										<li><a href="#">Product Locator</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Our Products</a>
									<ul>
										<li><a href="#">Popcorn Flavors</a></li>
										<li><a href="#">Gifts</a></li>
										<li><a href="#">Testimonials</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Customer Service</a>
									<ul>
										<li><a href="#">Contact Us</a></li>
										<li><a href="#">Wholesale</a></li>
										<li><a href="#">Shipping</a></li>
									</ul>
								</li>
							</ul>
							<div id="footer-social">
								<div>Follow Us</div>
								<a href="#" class="icon facebook"></a>
								<a href="#" class="icon twitter"></a>
							</div>
							<div id="small-footer-menu">
								<p class="links">
									<a href="#">Privacy Policy</a>&nbsp;|&nbsp;
									<a href="#">Site Map</a>&nbsp;|&nbsp;
									<a href="#">Terms of Use</a>
								</p>
								<p class="copyright">
									&copy; Popsalot. All Rights Reserved
								</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div><!-- #the-body -->
		</div> <!-- #the-container -->
		<script src="pops-a-lot.js"></script>
	</body>
</html>