<!DOCTYPE html>
<html>
	<head>
		<title>Pops-a-Lot</title>
		<link rel="stylesheet" type="text/css" href="pops-a-lot.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="pops-a-lot-includes.js"></script>
	</head>
	<body>
		<div id="the-container">
			<div id="header">
				<a href="#" id="the-logo">
				</a>
				<div id="the-menu">
					<ul class="main-menu first">
						<li>
							<a href="#">Our Story</a>
							<ul>
								<li>
									<a href="#">
										our team
									</a>
								</li>
								<li>
									<a href="#">In the kitchen</a>
								</li>
								<li>
									<a href="#">Press</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">popcorn</a>
							<ul>
								<li>
									<a href="#">Signature Series</a>
									<ul>
										<li>
											<a href="#">CC</a>
										</li>
										<li>
											<a href="#">LK</a>
										</li>
										<li>
											<a href="#">RH</a>
										</li>
										<li>
											<a href="#">SA</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Deluxe</a>
									<ul>
										<li>
											<a href="#">Process: Popsaluxe infused caramels</a>
										</li>
										<li>
											<a href="#">BS</a>
										</li>
										<li>
											<a href="#">SS</a>
										</li>
										<li>
											<a href="#">HA</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Popsalittles</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">shop</a>
						</li>
					</ul>
					<ul class="main-menu second">
						<li>
							<a href="#">popsalove</a>
						</li>
						<li>
							<a href="#">contact</a>
						</li>
						<li>
							<a href="#">flavor</a>
						</li>
					</ul>
					</div>
					<div id="the-menu-bg"></div>
				</div>
		
