<!DOCTYPE html>
<html>
	<head>
		<title>Pops-a-Lot</title>
		<link rel="stylesheet" type="text/css" href="pops-a-lot.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	</head>
	<body>
		<div id="the-container">
			<div id="header">
				<a href="#" id="the-logo">
				</a>
				<div id="the-menu">
					<ul class="main-menu first">
						<li>
							<a href="#">Our Story</a>
						</li>
						<li>
							<a href="#">our popcorn</a>

						</li>
						<li>
							<a href="#">the shop</a>
						</li>
					</ul>
					<ul class="main-menu second">
						<li>
							<a href="#">popsalove</a>
						</li>
						<li>
							<a href="#">contact</a>
						</li>
						<li>
							<a href="#">flavor</a>
						</li>
					</ul>
					</div>
				</div>
			</div>
