{{{header}}}
		<div id="home-carousel" style="">

		</div>
		<div class="clear"></div>
		<div id="home-content">
			<div class="clear"></div>
			<div class="home-content-box w300">
				<div id="fresh-from-the-kitchen" class="home-content-box heading"></div>
				<div class="content">
					Hi! Hello! Some text!
				</div>
			</div>
			<div class ="home-content-box w300">
				<div id="flavor-in-focus" class="home-content-box w220 heading"></div>
				<div class="content">
					Another box! Imagine that.
				</div>
			</div>
			<div class ="home-content-box w300 last">
				<div id="spotlight-special" class="home-content-box w220 heading last"></div>
				<div class="content">
					Buy now and you can get three for the price of two!
				</div>
			</div>
			<div class="clear"></div>
		</div>
{{{footer}}}
