{{{header}}}
	<div id="the-body">
		<div id="home-carousel" style="background:url(img/carousel-placeholder.jpg) 0 0 no-repeat;">

		</div>
		<div id="home-content">
			<div class="clear"></div>
			<div class="home-content-box w460">
				Hi! Hello! Some text!
			</div>
			<div class ="home-content-box w220">
				Another box! Imagine that.
			</div>
			<div class ="home-content-box w220 last">
				Buy now and you can get three for the price of two!
			</div>
			<div class="clear"></div>
		</div>
{{{footer}}}
