{{{header}}}
	{{{flavor-nav}}}
	<div id="flavor-page" class="london-kettle">
		<div class="ribbon london-kettle">

		</div>
		<div class="info-box">
			<div class="inner">
				Text!
				<div class="nutrition-info">
					<div class="nutrition-label"></div>
				</div>
			</div>
		</div>
		<div class="background"></div>
		<a href="#" class="place-order"></a>
	</div>
{{{footer}}}