.london_kettle_FINAL-sprite{ background:url("london_kettle_FINAL-sprite.png") top left no-repeat; }
.london_kettle_FINAL_r2_c2{ width:128px; height:134px; background-position:-10px -10px; }
.london_kettle_FINAL_r2_c4{ width:128px; height:134px; background-position:-10px -154px; }
.london_kettle_FINAL_r2_c6{ width:128px; height:134px; background-position:-10px -298px; }
.london_kettle_FINAL_r2_c8{ width:128px; height:134px; background-position:-10px -442px; }
.london_kettle_FINAL_r2_c14{ width:128px; height:134px; background-position:-10px -586px; }
.london_kettle_FINAL_r2_c12{ width:128px; height:134px; background-position:-10px -730px; }
.london_kettle_FINAL_r2_c10{ width:128px; height:134px; background-position:-10px -874px; }
